RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}.php -f 
RewriteRule ^(.*)$ $1.php [NC,L]

SetEnv HOST localhost
SetEnv DB sign
SetEnv USERNAME root
SetEnv PASSWORD 