body {
    min-height: 100vh;
    background-image: linear-gradient(to right top, #ad6bd1, #a06bd8, #906bde, #7c6ce5, #636deb, #4d7cf4, #3289fb, #0096ff, #00afff, #00c6ff, #00dbff, #5feefb);
    margin: 0;
    font-family: sans-serif;
}
@mixin form {
    background: #ffffff33;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 4px 2px 20px 1px lightgrey;
    border: 1px solid lightgrey;
    border-radius: 6px;
    padding: 20px 30px 50px;
    min-width: 300px;
    margin-top:-10%;
    .title {
        background: #ffffff5c;
        width: 100%;
        margin: -20px -30px 50px -30px;
        border-radius: 4px;
        text-align: center;
        padding: 16px 30px;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: #ffffffd6;
        font-weight: 100;
        box-shadow: 0 4px 4px 0 #ffffff47;
    }
    input {
        @include input();
    }
    button {
        @include btn(1.1em, 30px 0 0, 10px 60px, #3e83f8d1, rgb(3, 118, 212));
    }
    .error {
        background: #9600ff;
        box-shadow: 0 0 4px 4px #9600ff;
    }
    .success {
        background: #00b4ff;
        box-shadow: 0 0 4px 4px #00b4ff;
    }
    .error,
    .success {
        width: 100%;
        margin-top: 30px;
        margin-bottom: -20px;
        border-radius: 4px;
        p {
            color: white;
            text-align: center;
            font-size: 1.1em;
            margin: 10px 0;
        }
    }
}
@mixin input($color: #d599fade) {
    background: #265fae36;
    color: white;
    box-shadow: inset 0px 0px 6px 0 #2b65ba;
    border: 1px solid #00000033;
    border-radius: 4px;
    padding: 10px 14px;
    outline: none;
    &::placeholder {
        color: $color;
        text-transform: uppercase;
    }
}
@mixin btn($fontSize, $margin, $padding, $bg, $bgHover) {
    font-size: $fontSize;
    padding: $padding;
    margin: $margin;
    border: 0;
    color: white;
    background: $bg;
    box-shadow: inset 0px 0px 6px 0 #2b65ba;
    border: 1px solid #00000033;
    border-radius: 4px;
    cursor: pointer;
    transition: background .2s ease-in-out;
    &:hover {
        background: $bgHover;
    }
}
.register,
.login,
.edit-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    form {
        @include form();
    }
}
.register-link,
.login-link {
    margin-top: 16px;
    color: #f2f2f2;
    text-decoration: none;
}
.welcome-header {
    font-size: 1.4rem;
    background: #ffffffcf;
    margin: 0;
    padding: 0 20px;
    box-shadow: 0 4px 5px #8b8b8ba3;
    line-height: 3rem;
    display: Flex;
    justify-content: space-between;
    &>div:last-of-type {
        display: flex;
    }
    & .left-menu-actions {
        position: relative;
    }
}
.delete-btn {
    @include btn(.76em, 10px, 5px 40px, #e91e63, #d50d51);
    box-shadow: inset 0px 0px 6px 0 #a56bd6;
}
.logout-btn {
    @include btn(.76em, 0 10px, 5px 40px, #a46bd6, #8c51c0);
}
.toggle-delete {
    position: absolute;
    display: none;
    align-items: center;
    top: 110%;
    right: 0px;
    background: #ffffff9e;
    padding: 20px 20px 10px;
    box-shadow: 4px 2px 20px 1px lightgrey;
    border: 1px solid lightgrey;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    & .delete-btn {
        @include btn(.76em, 10px, 5px 30px, #e91e63, #d50d51);
        box-shadow: inset 0px 0px 6px 0 #a56bd6;
    }
    & input {
        @include input(#ffffffde);
    }
    &.show {
        opacity: 1;
        display: flex;
    }
}
.success-login {
    font-size: .8em;
    color: #1fbd6e;
    font-weight: 600;
}
.close {
    position: absolute;
    top: -12px;
    right: 13px;
    color: black;
    cursor: pointer;
    font-family: cursive;
    transition: color 0.2s;
    &:hover {
        color: red;
    }
}