body {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ad6bd1), color-stop(#a06bd8), color-stop(#906bde), color-stop(#7c6ce5), color-stop(#636deb), color-stop(#4d7cf4), color-stop(#3289fb), color-stop(#0096ff), color-stop(#00afff), color-stop(#00c6ff), color-stop(#00dbff), to(#5feefb));
  background-image: linear-gradient(to right top, #ad6bd1, #a06bd8, #906bde, #7c6ce5, #636deb, #4d7cf4, #3289fb, #0096ff, #00afff, #00c6ff, #00dbff, #5feefb);
  margin: 0;
  font-family: sans-serif;
}

.register,
.login,
.edit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.register form,
.login form,
.edit-form form {
  background: #ffffff33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 4px 2px 20px 1px lightgrey;
          box-shadow: 4px 2px 20px 1px lightgrey;
  border: 1px solid lightgrey;
  border-radius: 6px;
  padding: 20px 30px 50px;
  min-width: 300px;
  margin-top: -10%;
}

.register form .title,
.login form .title,
.edit-form form .title {
  background: #ffffff5c;
  width: 100%;
  margin: -20px -30px 50px -30px;
  border-radius: 4px;
  text-align: center;
  padding: 16px 30px;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #ffffffd6;
  font-weight: 100;
  -webkit-box-shadow: 0 4px 4px 0 #ffffff47;
          box-shadow: 0 4px 4px 0 #ffffff47;
}

.register form input,
.login form input,
.edit-form form input {
  background: #265fae36;
  color: white;
  -webkit-box-shadow: inset 0px 0px 6px 0 #2b65ba;
          box-shadow: inset 0px 0px 6px 0 #2b65ba;
  border: 1px solid #00000033;
  border-radius: 4px;
  padding: 10px 14px;
  outline: none;
}

.register form input::-webkit-input-placeholder,
.login form input::-webkit-input-placeholder,
.edit-form form input::-webkit-input-placeholder {
  color: #d599fade;
  text-transform: uppercase;
}

.register form input:-ms-input-placeholder,
.login form input:-ms-input-placeholder,
.edit-form form input:-ms-input-placeholder {
  color: #d599fade;
  text-transform: uppercase;
}

.register form input::-ms-input-placeholder,
.login form input::-ms-input-placeholder,
.edit-form form input::-ms-input-placeholder {
  color: #d599fade;
  text-transform: uppercase;
}

.register form input::placeholder,
.login form input::placeholder,
.edit-form form input::placeholder {
  color: #d599fade;
  text-transform: uppercase;
}

.register form button,
.login form button,
.edit-form form button {
  font-size: 1.1em;
  padding: 10px 60px;
  margin: 30px 0 0;
  border: 0;
  color: white;
  background: #3e83f8d1;
  -webkit-box-shadow: inset 0px 0px 6px 0 #2b65ba;
          box-shadow: inset 0px 0px 6px 0 #2b65ba;
  border: 1px solid #00000033;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}

.register form button:hover,
.login form button:hover,
.edit-form form button:hover {
  background: #0376d4;
}

.register form .error,
.login form .error,
.edit-form form .error {
  background: #9600ff;
  -webkit-box-shadow: 0 0 4px 4px #9600ff;
          box-shadow: 0 0 4px 4px #9600ff;
}

.register form .success,
.login form .success,
.edit-form form .success {
  background: #00b4ff;
  -webkit-box-shadow: 0 0 4px 4px #00b4ff;
          box-shadow: 0 0 4px 4px #00b4ff;
}

.register form .error,
.register form .success,
.login form .error,
.login form .success,
.edit-form form .error,
.edit-form form .success {
  width: 100%;
  margin-top: 30px;
  margin-bottom: -20px;
  border-radius: 4px;
}

.register form .error p,
.register form .success p,
.login form .error p,
.login form .success p,
.edit-form form .error p,
.edit-form form .success p {
  color: white;
  text-align: center;
  font-size: 1.1em;
  margin: 10px 0;
}

.register-link,
.login-link {
  margin-top: 16px;
  color: #f2f2f2;
  text-decoration: none;
}

.welcome-header {
  font-size: 1.4rem;
  background: #ffffffcf;
  margin: 0;
  padding: 0 20px;
  -webkit-box-shadow: 0 4px 5px #8b8b8ba3;
          box-shadow: 0 4px 5px #8b8b8ba3;
  line-height: 3rem;
  display: Flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.welcome-header > div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.welcome-header .left-menu-actions {
  position: relative;
}

.delete-btn {
  font-size: 0.76em;
  padding: 5px 40px;
  margin: 10px;
  border: 0;
  color: white;
  background: #e91e63;
  -webkit-box-shadow: inset 0px 0px 6px 0 #2b65ba;
          box-shadow: inset 0px 0px 6px 0 #2b65ba;
  border: 1px solid #00000033;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  -webkit-box-shadow: inset 0px 0px 6px 0 #a56bd6;
          box-shadow: inset 0px 0px 6px 0 #a56bd6;
}

.delete-btn:hover {
  background: #d50d51;
}

.logout-btn {
  font-size: 0.76em;
  padding: 5px 40px;
  margin: 0 10px;
  border: 0;
  color: white;
  background: #a46bd6;
  -webkit-box-shadow: inset 0px 0px 6px 0 #2b65ba;
          box-shadow: inset 0px 0px 6px 0 #2b65ba;
  border: 1px solid #00000033;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}

.logout-btn:hover {
  background: #8c51c0;
}

.toggle-delete {
  position: absolute;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 110%;
  right: 0px;
  background: #ffffff9e;
  padding: 20px 20px 10px;
  -webkit-box-shadow: 4px 2px 20px 1px lightgrey;
          box-shadow: 4px 2px 20px 1px lightgrey;
  border: 1px solid lightgrey;
  border-radius: 6px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.toggle-delete .delete-btn {
  font-size: 0.76em;
  padding: 5px 30px;
  margin: 10px;
  border: 0;
  color: white;
  background: #e91e63;
  -webkit-box-shadow: inset 0px 0px 6px 0 #2b65ba;
          box-shadow: inset 0px 0px 6px 0 #2b65ba;
  border: 1px solid #00000033;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  -webkit-box-shadow: inset 0px 0px 6px 0 #a56bd6;
          box-shadow: inset 0px 0px 6px 0 #a56bd6;
}

.toggle-delete .delete-btn:hover {
  background: #d50d51;
}

.toggle-delete input {
  background: #265fae36;
  color: white;
  -webkit-box-shadow: inset 0px 0px 6px 0 #2b65ba;
          box-shadow: inset 0px 0px 6px 0 #2b65ba;
  border: 1px solid #00000033;
  border-radius: 4px;
  padding: 10px 14px;
  outline: none;
}

.toggle-delete input::-webkit-input-placeholder {
  color: #ffffffde;
  text-transform: uppercase;
}

.toggle-delete input:-ms-input-placeholder {
  color: #ffffffde;
  text-transform: uppercase;
}

.toggle-delete input::-ms-input-placeholder {
  color: #ffffffde;
  text-transform: uppercase;
}

.toggle-delete input::placeholder {
  color: #ffffffde;
  text-transform: uppercase;
}

.toggle-delete.show {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.toggle-delete .password-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle-delete .error {
  -webkit-box-shadow: 0 0 4px 4px #9600ff;
          box-shadow: 0 0 4px 4px #9600ff;
  background: #9600ff;
  width: 100%;
  margin-top: 18px;
  border-radius: 4px;
}

.toggle-delete .error > p {
  margin: 8px 0;
  font-size: 0.76em;
  color: white;
  text-align: center;
  line-height: .9em;
}

.success-login {
  font-size: .8em;
  color: #1fbd6e;
  font-weight: 600;
}

.close {
  position: absolute;
  top: -12px;
  right: 13px;
  color: black;
  cursor: pointer;
  font-family: cursive;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.close:hover {
  color: red;
}
/*# sourceMappingURL=style.css.map */